.App {
  text-align: center;
  margin: 0;
  background-color: whitesmoke;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.indexBody {
  position: relative;
  top: 85px;
  width: 100%;
  text-align: center;
  margin-bottom: 200px;
}

.searchBar {
  display: flex;
  width: fit-content;
  margin: auto;
  border: 2px solid #551A8B;
  border-radius: 5px;
  background-color: whitesmoke;
}
.searchBar input{
  border: none;
  background-color: transparent;
}
.searchBar input:focus{
  outline: none;
}

.bigLogo {
  width: 50%;
}

.siteContent {
  width: 100%;
}
.leftSide {
  width: 100%;
}
.eventCalendar {
  width: fit-content;
  margin: auto;
  border-collapse: collapse;
}

.eventCalendar td {
  border: 1px solid whitesmoke;
  padding: 4px;
  background-color: #8666a4;
  color: whitesmoke;
}
.eventCalendar th {
  border: 1px solid whitesmoke;
  padding: 4px;
  background-color: #551A8B;
  color: whitesmoke;
}
.eventCalendar td:hover {
  background-color: whitesmoke !important;
  color: #551A8B !important;
}

.prevDay {
  background-color: #ab99bb !important;
  color: #551A8B !important;
}
.activeDay {
  background-color: #551A8B !important;
}

.modals {
  width: 70%;
  margin: 15%;
  position: fixed;
  z-index: 100000;
  background-color: #551A8B;
  color: whitesmoke;
  height: fit-content;
  border-radius: 10px;
  border: #8666a4 solid 5px;
  margin-top: 5%;
}
.modals form,.modals h2,.modalBtns {
  width:fit-content;
  margin: auto;
  margin-top: 5%;
}
.modals hr {
  width: 70%;
  margin: auto;
  margin-top: 2vh;
}
.modalBtns {
  position: absolute;
  bottom: 5%;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  display: flex;
}
.modalBtns button {
  width: 40%;
  margin: auto;
  background-color: whitesmoke;
  border: none;
  border-radius: 5px;
  color: #551A8B;
  padding: 5px;
}

.siteContent div h3 {
  display: block;
  padding: 2vh;
  padding-bottom: 0;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.postDesc {
  height: 40%;
  width: 100%;
  border: none;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border-radius: 5px;
  margin-bottom: 55px;
}
.modals form input {
  width: 100%;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 2px;
}
.createPostBtn {
  background-color: #551A8B;
  color: whitesmoke;
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 10px;
  margin-bottom: 5%;
}

.footer {
  margin: 0;
  width: 100%;
  background-color: #551A8B;
  color: whitesmoke;
  text-align: center;
}

.rightSide {
  width: 70%;
  margin: auto;
}

.mainSection {
  width: 100%;
  display: block;
  background-color: #551A8B;
  color: whitesmoke;
  margin: 0;
}
.mainSubSection {
  width: 100%;
  display: block;
  background-color: #ab99bb;
  color: whitesmoke;
  padding-top: 2vh;
  padding-bottom: 2vh;
}
.subSection {
  width: 100%;
  display: block;
  background-color: #ab99bb;
  color: #551A8B;
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.parent--label {
  padding-top: 2vh;
  padding-bottom: 2vh;
}

.footerList {
  padding-top: 10px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.footerList a {
  text-decoration: none;
  display: block;
  color: whitesmoke;
}

.boardOfMessages {
  width: 70%;
  margin: auto;
  height: 40vh;
  overflow-y: scroll;
  border: 3px solid #551A8B;
}

.boardMessage {
  display: block;
  border-top: 2px solid #551A8B;
  height: fit-content;
  padding: 2vh;
}

.boardMessage a {
  font-size: larger;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #551A8B;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #320d54; 
}

@media screen and (min-width: 580px) {
  .bigLogo {
    width: 25%;
  }

  .createPostBtn:hover{
    background-color: #320d54;
  }

  .modals {
    top: 10%;
    height: 50%;
  }

  .modalBtns {
    flex-direction: column;
    position: absolute;
    right: 10%;
    bottom: 20%;
    margin: 0;
    width: 20%;
  }
  .modalBtns button {
    margin: 0;
    width: 100%;
    margin-top: 10%;
  }

  .modals form {
    position: absolute;
    width: 50%;
    left: 12%;
    margin-top: 2%;
  }

  .siteContent {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-top: 6vh;
  }


  .leftSide {
    width: fit-content;
    margin-right: 0;
    margin-left: auto;
  }
  .rightSide {
    width: 60%;
    height: 100%;
  }

  .allSections {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }

  .mainSection {
    height: fit-content;
  }

  .mainSection:hover {
    background-color: #320d54;
  }

  .subSection:hover, .mainSubSection:hover {
    background-color: whitesmoke;
    color: #551A8B;
  }

  .searchBar {
    width: 40%;
    height: 10vh;
  }
  .searchBar div {
    height: fit-content;
    margin: auto;
    margin-left: 2vh;
    margin-right: 2vh;
  }
  .searchBar input {
    margin-left: 0;
    width: 100%;
    font-size: large;
  }

}